---
import styles from "./style.module.scss";
import TopBarClock from "../TopBarClock/TopBarClock.astro";
import topMenuItems from "../../models/TopMenuItems";
---

<nav class={styles.topBarContainer} class="topBar">
    <div class={styles.leftBar}>
        <ul class={styles.navBar}>
            <macintosh-menu>
                <div class={styles.logoButtonContainer} slot="menuTitle">
                    <div class={styles.logoButton}>
                        <img
                            alt="Welcome to Patrick Canella's Retro site!"
                            class={styles.pcLogoImage}
                            src={`${import.meta.env.BASE_URL}/assets/patretrologo.png`}
                        />
                    </div>
                </div>
                {
                    topMenuItems.pc.map((item) => (
                        <macintosh-menu-item slot="menuList" href={item.href} id={item.id}>
                            {item.title}
                        </macintosh-menu-item>
                    ))
                }
            </macintosh-menu>

            <macintosh-menu>
                <span slot="menuTitle">About</span>
                {
                    topMenuItems.about.map((item) => (
                        <macintosh-menu-item slot="menuList" href={item.href}>
                            {item.title}
                        </macintosh-menu-item>
                    ))
                }
            </macintosh-menu>
            <macintosh-menu>
                <span slot="menuTitle">Instagram</span>
                {
                    topMenuItems.instagram.map((item) => (
                        <macintosh-menu-item slot="menuList" href={item.href}>
                            {item.title}
                        </macintosh-menu-item>
                    ))
                }
            </macintosh-menu>
            <macintosh-menu>
                <span slot="menuTitle">Github</span>
                {
                    topMenuItems.github.map((item) => (
                        <macintosh-menu-item slot="menuList" href={item.href}>
                            {item.title}
                        </macintosh-menu-item>
                    ))
                }
            </macintosh-menu>

            <macintosh-menu>
                <span slot="menuTitle">LinkedIn</span>
                {
                    topMenuItems.linkedIn.map((item) => (
                        <macintosh-menu-item slot="menuList" href={item.href}>
                            {item.title}
                        </macintosh-menu-item>
                    ))
                }
            </macintosh-menu>

             <macintosh-menu>
                <span slot="menuTitle">Special</span>
                {
                    topMenuItems.special.map((item) => (
                        <macintosh-menu-item slot="menuList" id={item.id} href={item.href}>
                            {item.title}
                        </macintosh-menu-item>
                    ))
                }
            </macintosh-menu>

       
        </ul>
    </div>
    <div class={styles.rightBar}>
        <TopBarClock />
        <a target="_blank" href="https://github.com/pcanella/pcanella.github.io/tree/master/classicmode-src" class={styles.githubLogoButton}>
            <img
                class={styles.githubLogoImage}
                src="/classic/assets/github-logo.gif"
            />
        </a>
    </div>
</nav>

<script>
    const macMenus = document.querySelectorAll("macintosh-menu");
    const aboutMeWindow = document.getElementById('aboutwindow');
    const mainWindow = document.querySelector('.mainWindow');

    mainWindow?.addEventListener('click', () => {
        macMenus.forEach(node => {
            node.setAttribute('open', 'false');
        })
    })

    document.querySelector('#aboutThisSite')?.addEventListener('click', () => {
        aboutMeWindow?.setAttribute('aria-hidden', 'false');
        window.selectionHelper('aboutwindow');
        document.querySelector('#aboutcontenteditable').click();

    })

    document.querySelector('#sleep')?.addEventListener('click', () => {
        document.querySelector('#container')?.setAttribute('aria-hidden', 'true');
        document.querySelector('#sleepMode')?.setAttribute('aria-hidden', 'false');
    });

    

    macMenus.forEach((item) => {
        item.addEventListener("menu-clicked", (event) => {
            macMenus.forEach((macMenu) => {
                // Close all other menus
                if (macMenu !== event.currentTarget) {
                    macMenu.setAttribute("open", "false");
                }
            });

            // Toggle the clicked one (optional if handled internally)
            const isOpen = event.currentTarget.getAttribute("open") === "true";
            event.currentTarget.setAttribute("open", isOpen ? "false" : "true");
        });
    });
</script>
